Ensure COPY state IDs adhere to requirements in Section 4.8 of RFC 7862

Section 4.8 of RFC 7862 says:
```
   A copy offload stateid will be valid until either (A) the client or
   server restarts or (B) the client returns the resource by issuing an
   OFFLOAD_CANCEL operation or the client replies to a CB_OFFLOAD
   operation.
```
Need some code review to see whether this has been implemented, and if not, come up with a plan to implement it.
